hr {
    border: 2px solid rgb(0, 0, 0);
}

label {
    text-decoration: underline;
    font-weight: bold;
}

input {
    border-radius: 20px;
    border: 2px solid gray ;
}

textarea {
    border-radius: 20px;
    border: 2px solid gray ;
}

button {
    border-radius: 20px;
    border: 2px solid gray ;
}

select {
    border-radius: 20px;
    border: 2px solid gray ;
}

.exp .container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
}


.formations .container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    
}

span {
  display: block;
}

label:not(.error)>.formError {
  display: none;
}

label>.formError {
  color: red;
  font-weight: bold;
  padding-left: 1em;
}



/* #preview {
    padding: 0px;
    width: 594px;
    height: 841px;
}

.Basic-info {
    padding-left: 15px;
    background-color: gray;
}

.Basic-info h1 {
    display: inline-block;
    font-size: 32px;
}

 .Basic-info h2 {
    display: inline-block;
    font-size: 28px;
}

.Basic-info h3 {
    display: block;
    font-size: 24px;
}

.Basic-info #mail-preview {
    display: inline-block;
    font-size: 20px;
    
}
.Basic-info #tel-preview {
    display: inline-block;
    font-size: 20px;
}

.Basic-info #desc-preview {
    display: block;
    font-size: 20px;
}

.separateur {
    margin: 0px;
}

#preview-comp div {
    display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(5, 102, 102);
    padding: 5px;
    margin: 5px;
}

#preview-comp p {
    margin: 0px;
    display: inline-block;
    font-size: 18px;
}

#preview-experiences {
    background-color: gray;
}

#preview-experiences div {
    display: inline-block;
    margin: 5px;
}

#preview-experiences .title {
    display: block;
}

#preview-experiences h1 {
    display: inline-block;
    font-size: 32px;
    width: auto;
}

#preview-experiences h2 {
    display: inline-block;
    font-size: 28px;
    margin-left: 10px;
}

#preview-experiences h3 {
    display: block;
    font-size: 16px;
}

#preview-experiences p {
    display: block;
    font-size: 20px;
}



#preview-formations div {
    display: inline-block;
    margin: 5px;
}

#preview-formations .title {
    display: block;
}

#preview-formations h1 {
    display: inline-block;
    font-size: 32px;
    width: auto;
}

#preview-formations h2 {
    display: inline-block;
    font-size: 28px;
    margin-left: 10px;
}

#preview-formations h3 {
    display: block;
    font-size: 16px;
}

#preview-formations p {
    display: block;
    font-size: 20px;
} */